<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.bitbucket.tsergey.vlt.definition.vlt.editor">
			<with variable="activeEditorId">
				<equals value="org.eclipse.ui.examples.contributions.editor" />
			</with>
		</definition>
        <definition id="org.bitbucket.tsergey.vlt.definition.vlt.tree">
            <iterate ifEmpty="false" operator="or">
            	<or>
                	<adapt type="org.eclipse.core.runtime.IAdaptable" />
                </or>
            </iterate>
        </definition>
	</extension>


	<extension point="org.eclipse.ui.commands">
		<command id="org.bitbucket.tsergey.vlt.command.VltStatusHandler" name="Status"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltInfoHandler" name="Info"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltCommitHandler" name="Commit"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltUpdateHandler" name="Update"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltRevertHandler" name="Revert"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltResolvedtHandler" name="Mark resolved"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltAddHandler" name="Add"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltDeleteHandler" name="Delete"/>
		<command id="org.bitbucket.tsergey.vlt.command.VltDiffHandler" name="Diff"/>
	</extension>


	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu label="VLT" id="vlt.main">
            	<command commandId="org.bitbucket.tsergey.vlt.command.VltUpdateHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltCommitHandler">
					<!-- visibleWhen>
                        <reference definitionId="org.bitbucket.tsergey.vlt.definition.vlt.editor" />
                    </visibleWhen -->
				</command>
				<command commandId="org.bitbucket.tsergey.vlt.command.VltAddHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltDeleteHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltRevertHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltResolvedtHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltDiffHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltStatusHandler" />
				<command commandId="org.bitbucket.tsergey.vlt.command.VltInfoHandler" />
			</menu>
		</menuContribution>
	</extension>


	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.bitbucket.tsergey.vlt.command.VltCommitHandler" class="org.bitbucket.tsergey.vlt.handler.VltCommitHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltUpdateHandler" class="org.bitbucket.tsergey.vlt.handler.VltUpdateHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltRevertHandler" class="org.bitbucket.tsergey.vlt.handler.VltRevertHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltStatusHandler" class="org.bitbucket.tsergey.vlt.handler.VltStatusHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltInfoHandler" class="org.bitbucket.tsergey.vlt.handler.VltInfoHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltResolvedtHandler" class="org.bitbucket.tsergey.vlt.handler.VltResolvedtHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltAddHandler" class="org.bitbucket.tsergey.vlt.handler.VltAddHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltDeleteHandler" class="org.bitbucket.tsergey.vlt.handler.VltDeleteHandler" />
        <handler commandId="org.bitbucket.tsergey.vlt.command.VltDiffHandler" class="org.bitbucket.tsergey.vlt.handler.VltDiffHandler" />
	</extension>


</plugin>
